<!DOCTYPE html>
<html>
  <head>
    <title>Marie Bégué</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/banner' %>
    <%= render 'shared/projets' %>
    <%= render 'shared/parcours' %>
    <%= render 'shared/competences' %>
    <%= render 'shared/ecoconception' %>


    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
